/*
    MESSAGES
 */

.unactive-account,
.failed-login {
    text-align: center;
    color: #bb362e;
    margin: 20px auto;
}
.unactive-account p {
    color: #bb362e;
}
.unactive-account p:last-child {
    color: #25bb2e;
}

.failed-login p {
    color: #bb362e;
}

.list_button {
    color: red;
}

.activation_message {
    text-align: center;
    color: #99353e;
}

.positive_message {
    text-align: center;
    color: #00b646;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}





.username {
    margin: 0;
    letter-spacing: 2px;
}
.column_button {
    width: 100%;
    margin: 15px auto;
}

.username_change {
    margin: 10px auto;
    max-width: 300px;
    display: none;
}

.username_change input {
    padding: 5px 0;
    margin: 10px auto;
    min-width: 200px;
    font-size: 17px;
    text-indent: 10px;
}

.wrapper {
    margin: auto 30px;
    background: rgba(166, 255, 236, 0.4);
}

img.profile {
    max-width: 100%;
}

.interface_button {
    /*
    padding: 20px 40px !important;    */
    min-width: 220px;

}

.app_form {
    margin: 15px auto;
}

.app_form label {
    letter-spacing: 2px;
    color: #644665 !important;
    font-weight: bold;
}

.app_form_button {
    min-width: 225px;
}

.sticky_interface_button {
    padding: 8px 20px !important;
    min-width: 160px;
}

.small_device_buttons div.ui {
    margin-bottom: 10px;
}

.small_device_buttons .first {
    margin: 0 !important;
}

.small_device_fluid {
    width: 100%;
    height: 30px;
    background: #8bd6c6;
    opacity: 0;
}

.sticky {
    border-top: 4px solid rgb(139, 214, 198);
    position: fixed;
    bottom: -220px;
    background: #A6FFEC;
    width: 100%;
    height: 250px;
    z-index: 500;
}

/* Buttons sticky */
#menuActivator {
    background: url('../images/btn.png');
    min-width: 50px;
    min-height: 30px;
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat:no-repeat;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
    border-bottom-left-radius: 7px;
}

#menuActivator:hover {
    cursor: pointer;
}

#home {
    background: url('../images/home.png');
    min-width: 50px;
    min-height: 50px;
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat:no-repeat;
    border: none;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 500;
}

#home:hover {
    cursor: pointer
}

.margin_container {
    margin: 120px auto 50px auto;
}

.login_info span {
    color: #7e4492;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.top_info {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #B083B2;
    position: absolute;
    top: 0;
    line-height: normal;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color: #FFF;
    text-transform: uppercase;
}

.front_page_info {
    color: #3c5358;
    margin-top: 40px;
}

.front_page_info h2 {
    text-align: center;
}

.front_page_info h2 {
    font-size: 50px;
    letter-spacing: 1px;
}

.front_page_info span {
    color: #8f7d90;
}

.front_page_dsc {
    width: 100%;
    margin: 30px auto;
}

.front_page_dsc p {
    text-align: right;
    font-style: italic;
    font-size: 22px;
    padding-left: 50px;
}

.front_page_dsc h4 {
    text-align: right;
    font-weight: bold;
}

#email_sender_errors {
    min-height: 50px;
    font-size: 18px;
    color: #bb362e;
    /* min-height: 50px; */
    margin-top: 5px;
    padding: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}
.email_sender_succes {
    color: #008000 !important;
}

.half_width_button {
    width: 49.8%;
    margin: auto 0!important;
}

.fb_button {
    color: #f8fbff !important;
    background: #2376d1 !important;
}
.cpy_button {
    color: #fff !important;
    background: #b083b2 !important;
}

/**
    BUTTONS OVERWRITE
 */

.buttons_overwrite .purple {
    background: #b083b2 !important;
}

.buttons_overwrite .purple:hover {
    background: #9f6db2 !important;
}

.buttons_overwrite .blue {
    background: #4e94c9 !important;
}
.buttons_overwrite .blue:hover {
    background: #3a84c9 !important;
}

.buttons_overwrite .violet {
    background: #7652c4 !important;
}
.buttons_overwrite .violet:hover {
    background: #6949ad !important;
}
/*///////////*/

/*
    FORMS
 */

.pele_field label {
    margin-top: 20px!important;
    font-size: 18px !important;
    margin-bottom: 0 !important;
    padding: 5px 5px 5px 15px;
    color: #FFFFFF!important;
    border-radius: 3px;
}

.pele_field input[type=text] {
    color: #3a5264 !important;
    letter-spacing: 1px;
    font-size: 14px;
}

.pele_field p {
    display: block;
    margin: 10px auto;
    font-size: 18px;
    text-align: center;
}

.pele_field button[type=submit] {

    font-size: 18px;
}

.step_1_form .pele_field label {
    background: #b083b2;
}
.step_1_form .pele_field button[type=submit] {
    background-color: #b083b2 !important
}
.answers_form .pele_field label {
    background: #6b8a8e;
}

.answers_form .pele_field button[type=submit] {
    background-color: #6b8a8e !important;
}
/*///////////*/


/*
    PELE NAMES
 */
.pele_header {
    text-align: center;
    color: #6b8a8e;
    font-size: 35px;
    margin: 20px auto;
    border-bottom: 2px solid;
    padding-bottom: 20px;
}

.pele_name {
    color: #7652c4;
    font-size: 18px;
    margin-top: 15px!important;
}

.pele_name span {
    font-weight: bold;
    letter-spacing: 1px;
}

.single_pele {
    padding-bottom: 5px;
    border-bottom: 2px solid #c7bccf;
}

.question_show {
    font-weight: bold;
    letter-spacing: 1px;
}

.question_show span.question {
    color: #923e3e;

}
.question_show span.answer {
    color: #1aa459;
}



.skin_app h1,
.skin_app h2,
.skin_app h3,
.skin_app h4,
.skin_app h5,
.skin_app h6 {
    text-align: center !important;
}



@media screen and (min-width: 992px) {

    .sticky,
    #menuActivator {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .half_width_button {
        width: 100%;
    }
    .top_info {
        font-size: 20px;
    }
}