.unactive-account,
.failed-login {
    text-align: center;
    color: #bb362e;
}
.unactive-account p {
    color: #bb362e;
}
.unactive-account p:last-child {
    color: #25bb2e;
}

.failed-login p {
    color: #bb362e;
}

.list_button {
    color: red;
}

.activation_message {
    text-align: center;
    color: #99353e;
}

.username {
    margin: 0;
    letter-spacing: 2px;
}
.column_button {
    width: 100%;
    margin: 15px auto;
}

.username_change {
    margin: 10px auto;
    max-width: 300px;
    display: none;
}

.username_change input {
    padding: 5px 0;
    margin: 10px auto;
    min-width: 200px;
    font-size: 17px;
    text-indent: 10px;
}

.wrapper {
    margin: auto 30px;
    background: rgba(166, 255, 236, 0.4);
}

img.profile {
    max-width: 100%;
}

.interface_button {
    padding: 20px 40px !important;
    min-width: 220px;
}

.sticky_interface_button {
    padding: 8px 20px !important;
    min-width: 160px;
}

.sticky {
    position: fixed;
    bottom: -150px;
    background: #A6FFEC;
    width: 100%;
    height: 200px;
}

.small_device_buttons div.ui {
    margin-bottom: 10px;
}

.small_device_buttons .first {
    margin: 0 !important;
}

.small_device_fluid {
    width: 100%;
    height: 50px;
    background: #8bd6c6;
    opacity: 0;
}

#menuActivator {
    background: url('../images/btn.png');
    min-width: 50px;
    min-height: 50px;
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat:no-repeat;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}

#menuActivator:hover {
    cursor: pointer;
}

.margin_container {
    margin: 90px auto 50px auto;
}

.login_info span {
    color: #7e4492;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.top_info {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #B083B2;
    position: absolute;
    top: 0;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: #FFF;
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {

    .sticky,
    #menuActivator {
        display: none;
    }

}