/*.test {
    color: white;
}*/
.field {

    text-decoration-color: yellow;
}



body {
    background-image: url("../images/green_gobbler_@2X.png");
    background-repeat: repeat;
    background-color: #6666cc;

}
