.test {
    color: navy;
}


body {
    background-image: url("../images/brickwall.png");;
    background-repeat: repeat;
    background-color: #cccccc;
  }

.rainbow {
    background: #2ce681; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d6e68f, #ec202f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #91c9e6, #18ec52); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.style-name {
    text: navy;
    color: white;
}
