.test {
    color: navy;
}
.field {

    text-decoration-color: yellow;
}

.style-name {
    text: white;
    color: white;

}

body {
    transition: all 0.5s !important;
    background-image: url("../images/polonez_car.png");
    background-repeat: repeat;
    background-color: #6666cc;

}
